<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<title>admin</title>
	<link rel="stylesheet" href="css/admin.css">
	<link rel="shortcut icon" href="img/icons8-administrator-male-100.png" type="image/x-icon">
	
	 <!-- Socket i.o -->
	 <script src="/socket.io/socket.io.js"></script>	
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<body id="refresh">

	
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text">AdminHub</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="#">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="/adminproduct">
					<i class='bx bxs-cart' ></i>
					<span class="text">My product</span>
				</a>
			</li>
			<li>
				<a href="/chatAdmin">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">Message</span>
				</a>
			</li>
			<li>
				<a href="/admin/ourUser">
					&nbsp;&nbsp;<i class="fa-sharp fa-solid fa-users"></i>
					&nbsp;&nbsp;<span class="text">my user</span>
				</a>
			</li>
			<li>
				<a href='admin/ordersroute'>
					&nbsp;&nbsp;<img src="/img/shopping-cart.png">
					&nbsp;&nbsp;<span class="text">Order details</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			
			<li>
				<a href="#" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			<a href="#" class="nav-link">Categories</a>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="notification">
				<i class='bx bxs-bell' ></i>
				<span class="num">8</span>
			</a>
			<a href="#" class="profile">
				<img src="img/people.png">
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Home</a>
						</li>
					</ul>
				</div>
				<button class="btn-download" type="button" id="btnpdf" value="export"> 
					<i class='bx bxs-cloud-download' ></i>
					<span class="text">Download PDF</span>
			</button>
			</div>

			<ul class="box-info">
				<li>
					<i class='bx bxs-calendar-check' ></i>
					<span class="text">
						<h3 >1020</h3>
						<p>New Order</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-group' ></i>
					<span class="text">
						<span><span style="font-size: 25px; font-weight: bold;">+ </span> <span  class="counter" style="font-size: 25px; font-weight: bold;">543764</span></span>
						<p>Visitors</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-dollar-circle' ></i>
					<span class="text">
						<span><span style="font-size: 25px; font-weight: bold;">$</span> <span  class="counter" style="font-size: 25px; font-weight: bold;">120700</span></span>
						<p>Total Sales</p>
					</span>
				</li>
			</ul>


			<div class="table-data" id="tabale1">
				<div class="order">
					<div class="head">
						<h3>Our Products</h3>
						<i class='bx bx-search' ></i>
						<i class='bx bx-filter' ></i>
					</div>
					<% if(products!=''){%>
						<table id="tablepdf">
							<thead>
								<tr>
									<th>Image</th>
									<th>price</th>
									<th>size</th>						
									<th>update</th>
									<th>delete</th>
								</tr>
							</thead>
							<tbody>
								<% products.forEach((row,index)=>{%>
								<tr>
									<td>
										<img src="<%= row.image%>" width="50" height="50" class="img-thumbnail">
										<p><%= row.name%></p>
									</td>
									<td><%= row.price%></td>
									<td><span class="status completed"><%= row.size%></span></td>	
									<td><a href="admin/updateProduct/<%= row._id%>" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a></td>
							<td>  <a href="/delete/<%= row._id%>" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a></td>

								</tr>
								<%})%>	
							</tbody>
						</table>
						<%} else {%>
							<h3 class="text-center text-secondary mt-5">No Data Found</h3>
							<%}%>
					
				</div>
				
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	

	<script >
		const allSideMenu = document.querySelectorAll('#sidebar .side-menu.top li a');

allSideMenu.forEach(item=> {
	const li = item.parentElement;

	item.addEventListener('click', function () {
		allSideMenu.forEach(i=> {
			i.parentElement.classList.remove('active');
		})
		li.classList.add('active');
	})
});




// TOGGLE SIDEBAR
const menuBar = document.querySelector('#content nav .bx.bx-menu');
const sidebar = document.getElementById('sidebar');

menuBar.addEventListener('click', function () {
	sidebar.classList.toggle('hide');
})







const searchButton = document.querySelector('#content nav form .form-input button');
const searchButtonIcon = document.querySelector('#content nav form .form-input button .bx');
const searchForm = document.querySelector('#content nav form');

searchButton.addEventListener('click', function (e) {
	if(window.innerWidth < 576) {
		e.preventDefault();
		searchForm.classList.toggle('show');
		if(searchForm.classList.contains('show')) {
			searchButtonIcon.classList.replace('bx-search', 'bx-x');
		} else {
			searchButtonIcon.classList.replace('bx-x', 'bx-search');
		}
	}
})





if(window.innerWidth < 768) {
	sidebar.classList.add('hide');
} else if(window.innerWidth > 576) {
	searchButtonIcon.classList.replace('bx-x', 'bx-search');
	searchForm.classList.remove('show');
}


window.addEventListener('resize', function () {
	if(this.innerWidth > 576) {
		searchButtonIcon.classList.replace('bx-x', 'bx-search');
		searchForm.classList.remove('show');
	}
})



const switchMode = document.getElementById('switch-mode');

switchMode.addEventListener('change', function () {
	if(this.checked) {
		document.body.classList.add('dark');
	} else {
		document.body.classList.remove('dark');
	}
})
	</script>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js" integrity="sha512-ZKNVEa7gi0Dz4Rq9jXcySgcPiK+5f01CqW+ZoKLLKr9VMXuCsw3RjWiv8ZpIOa0hxO79np7Ec8DDWALM0bDOaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha512-d8F1J2kyiRowBB/8/pAWsqUl0wSEOkG5KATkVV4slfblq9VRQ6MyDZVxWl2tWd+mPhuCbpTB4M7uU/x9FlgQ9Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	

	<script>
		$('.counter').counterUp({
			delay: 10,
			time: 3000
		});
		

	</script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
	<script type="text/javascript">
		var button = document.getElementById("btnpdf");
		var makepdf = document.getElementById("tablepdf");
	  
		button.addEventListener("click", function () {
			var mywindow = window.open("", "PRINT", 
					"height=400,width=600");
	  
			mywindow.document.write(makepdf.innerHTML);
	  
			mywindow.document.close();
			mywindow.focus();
	  
			mywindow.print();
			mywindow.close();
	  
			return true;
		});
	</script>


	
</html>