<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <style>
        body {
            margin: 0;
            font-family: sans-serif;
            font-weight: 100;
        }

        .navbar {
            background: linear-gradient(45deg, #49a09d, #5f2c82);
            color: #fff;
            padding: 10px 0;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

        }
        #home{
            /* border: 1px solid black; */
            position: absolute;
            right:15px;
            top:13px;            
        }

        .container {
            margin-left: 15% ;
            width: 90%;
            max-width: 800px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0,0,0,0.1);
            margin-top: 20px;
        }

        th,
        td {
            padding: 15px;
            background-color: rgba(255,255,255,0.2);
            color: #000000;
        }

        th {
            text-align: left;
        }

        thead th {
            background-color: #55608f;
            color: #fff;
        }

        tbody tr:hover {
            background-color: rgba(255,255,255,0.3);
        }

        tbody td {
            position: relative;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <div id="details"><h2>User Details</h2></div>
        <div id="home"><h2><a href="/admin" style="text-decoration: none; color: white;">home</a></h2></div>
        
    </div>
    <div class="container">
        <% if(users && users.length > 0) { %>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>userName</th>
                        <th>birthDate</th>
                        <th>email</th>
                        <th>password</th>
                        <th>verify</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach((row, index) => { %>
                        <tr>
                            <td><%= index %></td>
                            <td><%= row.userName %></td>
                            <td><%= row.birthDate %></td>
                            <td><%= row.email %></td>
                            <td><%= row.password %></td>
                            <td><%= row.verify %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <h3>No User Found In Our Database</h3>
        <% } %>
    </div>
</body>
</html>
